bravado==11.0.3
bravado-core==6.1.1
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.7
flask==2.3.3
idna==3.6
openapi-spec-validator==0.7.1
pandas==2.2.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pybit==4.2.0
requests==2.31.0
simplejson==3.19.2
six==1.16.0
urllib3==2.2.1

